body {
    background-color: #000;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

}

a {
    color: #fff;

}

a:hover {
    color: rgba(120, 120, 120, 0.507);
}


h1 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}