<!DOCTYPE html>
<html>

<head>
    <title>SatTrack V2</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>SatTrack V2</h1>
    <h3>Tracking Satellites Using Data from <a href="https://celestrak.org/">CelesTrak</a></h3>
    <h3>Made for <a href="https://www.spaceappschallenge.org/">NASA Space Apps Hackathon</a> by John Denny</h3>
    <iframe src="{{ url_for('map') }}" width="800" height="600"></iframe>
</body>

</html>